*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
}

html{
    font-size: 62.5%;
}

h1{
    margin: 1rem 0;
    text-align: center;
    background: yellowgreen;
    padding: .5rem 0;
    font-size: 2.4rem;
    color: white;
}

main>#app{
    padding: 4rem 7%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.item{
    width: 18%;
    margin: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
    text-align: center;
    border-radius: 1rem;
    position: relative;
}

.item h3{
    margin: 0;
}

.item span{
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
    background-color: rgb(207, 172, 57);
    padding: .5rem 1rem;
    border-radius: .5rem;
}