* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a:hover {
  text-decoration: none !important;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.header {
  max-width: 1200px;
  margin: 0 auto;
  height: 100px;
  display: flex;
  background-color: green;
}

.logo {
  width: 18%;
  height: 100px;
  margin-right: 2%;
}

.logo img {
  height: 60px;
  margin-top: 20px;
}

.menu {
  width: 80%;
}

.menu-top {
  height: 50%;
  display: flex;
}

.menu-top-list {
  width: 85%;
  font-size: 14px;
  color: #c6c4c4;
}

.menu-top-list ul {
  margin-bottom: 25px !important;
}

.menu-top-list li {
  margin-right: 25px;
  width: fit-content;
}

.menu-top-login {
  width: 15%;
  text-align: end;
  color: #0a4f70;
  font-size: 14px;
}

.menu-top-login p {
  margin-top: 11%;
  font-size: 14px;
}

.menu-top-login p i {
  font-size: 18px;
}

.menu-top-login p a {
  text-decoration: none;
  color: #0a4f70;
  margin-right: 10px;
}

.menu-bottom {
  height: 50%;
  display: flex;
  font-size: 20px;
  color: #0a4f70;
}

.menu-bottom-category {
  width: 20%;
  font-weight: 700;
  position: relative;
  font-size: 21px;
}

.menu-bottom-category .fa-align-right {
  margin-right: 20px;
}

.menu-bottom-search {
  width: 70%;
  text-align: left;
  font-size: 18px;
}

.menu-bottom-search i {
  font-size: 20px;
  width: 5%;
}

.menu-bottom-search input {
  color: #c5c3c4;
  font-size: 14px;
  width: 90%;
  border: 0;
  outline: none;
}

.menu-bottom-search-in {
  width: 60%;
  height: 20px;
  margin-left: 40%;
}

.menu-bottom-search-in a {
  text-decoration: none;
  color: #0a4f70;
}

.menu-bottom-search-in hr {
  width: 90%;
  border: none;
  height: 1px;
  background-color: #f04c63;
  margin-top: 0;
  margin-top: 0 !important;
}

.menu-bottom-cart {
  width: 10%;
  text-align: center;
  padding: 0px 20px;
  font-size: 20px;
  text-align: end;
}

.menu-bottom-cart i {
  font-size: 20px;
}

.menu-bottom p {
  font-size: 20px;
  height: 20px;
  margin-top: 1%;
}

.menu-top-list ul {
  display: flex;
  margin-top: 20px;
}

.menu-top-list ul li {
  font-size: 11pt;
  list-style: none;
  margin-right: 4%;
}

.banner {
  width: 100%;
}

.banner-item {
  max-width: 1200px;
  height: 95%;
  margin: 0 auto;
  display: flex;
}

.banner-left {
  width: 18%;
  background-color: #f8f6f7;
  margin-right: 2%;
  overflow: hidden;
}

.banner-right {
  width: 81%;
  background-color: #f8f6f7;
}

.category {
  width: 962.19px;
  z-index: 1;
  margin: 0 auto;
  display: none;
  background-color: white;
}

.hover {
  width: 963.19px;
  position: absolute;
  padding-top: 50px;
  z-index: 99;
  top: 40%;
  left: -2.6px;
}

.menu-bottom-category:hover .category {
  display: block;
}

.category-hover {
  width: 962.19px;
  height: 413.65px;
  z-index: -99;
  display: flex;
  background-color: rgb(235, 235, 235);
}

.category:hover .menu-bottom-category {
  display: block;
}

.category-hover .block-1 {
  width: 35%;
  margin-right: 10%;
  font-size: 11pt;
  background-color: white;
  height: 100%;
}

.category-hover .block-1 li {
  float: left;
  list-style: none;
  height: 20px;
  margin-bottom: 7.85px;
  width: 100%;
  color: #0a4f70;
  position: relative;
  padding: 0px 20px;
  cursor: pointer;
  z-index: 1;
}

.category-hover .block-1 li:hover {
  transition: 1s;
}

.category-hover .block-1 li::before {
  background-color: #f7f6f6;
  width: 0%;
  height: 100%;
  top: 0px;
  position: absolute;
  z-index: -11;
  left: 0;
  content: "";
  border-radius: 0% 0% 0% 0%;
}

.category-hover .block-1 li:hover::before {
  width: 100%;
  bottom: 0px;
  height: 100%;
  transition: 0.5s;
}

.category-hover .block-1 li:hover {
  color: white;
}

.category-hover li.block-1:hover strong {
  color: #f04c63;
}

.category-hover .block-1 li:hover {
  transition: 0.5s;
}

.category-hover .block-1 li span {
  float: right;
}

.category-hover .block-2 {
  margin-top: 20px;
  height: 140px;
  background-color: rgb(255, 255, 255);
  display: none;
}

.category-hover .block-2 strong {
  width: 100%;
  float: left;
  height: 30px;
}

.category-hover ul.block-2 li {
  width: 100%;
  font-size: 11pt;
  float: left;
  color: gray;
  height: 30px;
  list-style: none;
}

.category-hover li.block-1:hover > ul.block-2 {
  display: block;
  color: gray;
}
.category-hover .block-2 ul:hover {
  background-color: #0570e6;
}

.footer-item {
  width: 1200px;
  margin: 0 auto;
}

.footer-item-highlights {
  width: 45%;
  background-color: #51c5de;
  margin-top: 2%;
}

h2 {
  color: white;
}

.footer-content {
  width: 90%;
  margin: 0 auto;
  padding-top: 2%;
}

.footer-content-menu {
  width: 90%;
  margin: 0 auto;
  margin-top: 2%;
  display: flex;
}

.footer-content-menu-item {
  width: 23%;
  margin-right: 2%;
  background-color: #f8f6f7;
  margin-bottom: 2%;
  border-radius: 5px;
  text-align: center;
}

.footer-content-menu-item:last-child {
  margin-right: 0;
}

.item-icon {
  margin-top: 10%;
  font-size: 1.8rem;
  color: #51c5de;
}

.item-content {
  font-size: 1rem;
  color: #81a2b3;
  margin-bottom: 10%;
}

.shopping-number {
  padding: 0 5px;
  color: #f24c64;
  font-size: 12px;
}

.a {
  text-decoration: none;
  color: #c6c4c4;
}

.a1 {
  text-decoration: none;
  color: #0a4f70;
}

.container-product {
  max-width: 1200px !important;
  margin: 0 auto;
}

.title-sale {
  padding: 20px;
  color: #f04c36;
}

.row-container-product {
  max-width: 1200px;
  margin: 0 auto;
  background-color: white;
}

.row-sale {
  display: flex;
}

.col-bg-dark {
  display: flex;
  width: 1160px;
  margin: 0 auto;
}

.box-product {
  width: 18%;
  height: 280px;
}

.container-px-0 {
  background-color: #f8f6f7;
  padding: 20px;
}

.product {
  width: 90%;
  margin: 0 auto;
  position: relative;
}

.product-image {
  height: 190px;
}

.product-price {
  color: red;
  text-align: center;
}

.product-link {
  color: black;
  font-size: 12px;
  text-decoration: none;
}

.sale {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 8pt;
  width: 26px;
  height: 20px;
}

.sale-item {
  text-align: center;
  background-color: #f24c64;
  color: white;
  height: 70%;
}

.triangle {
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 8px solid #f24c64;
}

.button-more {
  text-align: center;
}

.more {
  width: 10%;
  margin-top: 3%;
  text-align: center;
  color: #51c5de;
  background-color: white;
  border: solid 1px #51c5de;
}

.container-px-1 {
  background-color: #51c5de;
  padding: 20px;
}

.time {
  padding: 20px;
  color: #0a4f70;
  margin-left: 70%;
  font-size: 18px;
}

.box-product:hover {
  box-shadow: #c6c4c4 0px 3px 5px;
}

.foryou {
  font-size: 21px;
  color: black;
}

.prev-arrow-carousel::before {
  color: red;
}

.next-arrow-carousel::before {
  color: red;
}

.word-pp {
  padding: 10px;
  margin: 10px;
  border: solid 1px #c6c4c4;
  background-color: #c6c4c4;
  border-radius: 5px;
  text-align: center;
}

.iphone {
  margin-top: 15px;
}

del {
  color: rgb(189, 67, 67);
  font-size: 13px;
}

.tab {
  overflow: hidden;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */

.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */

.tab button.active {
  background-color: #ccc;
  color: rgb(13, 92, 182);
}

/* Style the tab content */

.tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
}

.tabcontent.active {
  display: block;
  background-color: white;
}

.tab {
  background-color: white;
  width: 45%;
  margin: 0 auto;
}

.tablinks {
  border: 1px solid #ccc;
  margin-right: 5px;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.mySlides {
  display: none;
}

img {
  vertical-align: middle;
}

/* Slideshow container */

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Caption text */

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */

.dot {
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dots {
  position: absolute;
  top: 78%;
  right: 40%;
}

/* Fading animation */

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */

@media only screen and (max-width: 300px) {
  .text {
    font-size: 11px;
  }
}

.song {
  width: 213.44px;
  height: 413.66px;
  transition: 0.3s;
}

.song:hover {
  transform: scale(1.2);
}

/*footer*/

.footer-banner {
  background-color: black;
  width: 100%;
  min-height: 124px;
  margin: 0 auto;
}

.footer-menu-content {
  width: 1200px;
  margin: 0 auto;
  min-height: 400px;
}

/* .bg-title {
  background-color: chartreuse; */

/* } */

.bg-title h4 {
  font-size: 18px;
  padding: 5px 0px;
}

.bg-title-2 {
  min-height: 200px;
}

.footer-item-ul {
  display: inline-block;
}

.li-menu li {
  display: inline-block;
  width: auto;
  height: 10px;
  padding: 10px;
}

.li-menu a {
  font-size: 14px;
  line-height: 2;
  color: #51c5dd;
  transition: 0.25s all;
}

.li-menu a:hover {
  color: #f04c63;
}

.footer-item-ul li {
  padding-bottom: 4px;
}

.footer-map {
  width: 100%;
  height: 100%;
}

.footer-hotline {
  width: 277.5px;
  min-height: 64px;
}

.footer-hotline .footer-hotline-img {
  float: left;
  width: 30%;
  height: 64px;
}

.footer-hotline .footer-hotline-img img {
  width: 80%;
  object-fit: cover;
}

.footer-hotline .footer-hotline-tel {
  float: right;
  width: 70%;
  height: 64px;
}

.footer-hotline .footer-hotline-tel p {
  color: #f04c63;
  font-size: 14px;
  padding: 2px;
  margin-bottom: 0 !important;
}

.footer-hotline .footer-hotline-tel span {
  color: #c6c4c4;
  font-size: 14px;
}

.footer-link {
  width: 277.5px;
  min-height: 64px;
}

.footer-link-title {
  width: 100%;
  min-height: 50%;
}

.footer-link-title h4 {
  font-size: 18px;
}

.footer-link-item {
  width: 100%;
  min-height: 32px;
}

.footer-link-item-box {
  float: left;
  width: 30px;
  min-height: 32px;
  text-align: center;
  border-radius: 50%;
  margin: 2px;
  padding: 2px;
}

.footer-link-item-box i {
  line-height: 30px;
}

.footer-link-item-box .footer-link-fb {
  background-color: #0570e6;
}

.footer-license {
  background-color: black;
  margin: 0 auto;
  min-height: 50px;
}

.footer-license-box {
  margin: 0 auto;
  width: 1200px;
  min-height: 50px;
}

.footer-license-box-span {
  width: 100%;
  text-align: center;
  height: 40px;
}

.footer-pay {
  width: 1200px;
  min-height: 80px;
  margin: 0 auto;
}

.content-pay {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  margin-top: 10px;
}

.cart {
  max-width: 1200px;
  margin: 0 auto;
  font-size: 18px;
}

.counting {
  font-size: 14px;
}

.seperate-left {
  width: 910px;
  background-color: white;
}

.seperate-right {
  width: 320px;
  height: 500px;
  background-color: #f8f6f7;
  justify-content: end;
}

.product-trading {
  font-size: 15px;
  line-height: 24px;
  font-weight: 500;
  padding: 14px 0px 10px 20px;
}

.product-trading a {
  color: rgb(36, 36, 36);
  -webkit-box-align: center;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
}

.image-product {
  width: 170px;
  padding: 0 20px;
  margin-top: 40px;
}

.detail-product {
  margin-top: 40px;
  width: 720px;
  height: 134px;
}

.information-product {
  display: flex;
}

.detail-product-top {
  display: flex;
}

.detail-product-left {
  width: 432px;
}

.detail-product-right {
  width: 230px;
  margin-left: 70px;
  display: flex;
}

.img {
  width: 35px;
  display: inline-block;
  vertical-align: top;
}

.item {
  text-decoration: none;
  color: black;
}

.detail-product-bottom {
  width: 227.86px;
  margin-left: 20px;
}

.detail-product-bottom-item {
  width: 315px;
  margin-left: 20px;
  background-color: white;
  padding: 15px 10px;
  margin-bottom: 10px;
}

.word-item {
  width: 50%;
}

.change {
  width: 50%;
  text-align: end;
}

.change a {
  color: rgb(13, 92, 182);
  text-decoration: none;
}

.word {
  font-size: 15px;
  margin-top: 15px;
  color: rgb(36, 36, 36);
}

.word1 {
  margin-top: 15px;
  font-size: 13px;
  color: rgb(120, 120, 120);
}

.word2 {
  margin-top: 10px;
}

.del {
  margin-right: 20px;
  color: rgb(13, 92, 182);
  font-size: 13px;
}

.for-after {
  color: rgb(13, 92, 182);
  font-size: 13px;
}

.ship-quickly {
  color: rgb(0, 153, 0);
  font-size: 12px;
  font-weight: 500;
}

.icon {
  width: 22x;
}

.word3 {
  margin-top: 15px;
  font-size: 13px;
  color: rgb(13, 92, 182);
}

.bought {
  background: rgb(255, 66, 78);
  color: rgb(255, 255, 255);
  padding: 13px 10px;
  text-align: center;
  border-radius: 4px;
  border: none;
  width: 100%;
  display: block;
  margin: 15px 0px;
  cursor: pointer;
  margin-left: 20px;
  outline: none;
}

.jFkAwY {
  width: 1270px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

.NewsLetter-icon {
  margin-top: -40px;
  margin-right: 20px;
}

.NewsLetter-description {
  margin-right: 30px;
  margin-bottom: 0px;
  color: rgb(78, 80, 82);
}

.NewsLetter-form {
  display: flex;
}

.NewsLetter-form input {
  flex: 1 1 0%;
  width: 345px;
  height: 34px;
  margin-right: 10px;
  padding: 6px 12px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(204, 204, 204);
  border-radius: 4px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

.NewsLetter-form button {
  cursor: pointer;
  height: 34px;
  padding: 6px 12px;
  color: rgb(255, 255, 255);
  font-size: 14px;
  line-height: 1.42857;
  border: none;
  border-radius: 4px;
  background-color: rgb(0, 175, 239);
  outline: none;
}

button,
input {
  overflow: visible;
}

.Container-itwfbd-0 {
  color: rgb(78, 80, 82);
  display: flex;
}

.word5 {
  padding: 5px;
  display: flex;
}

.note {
  font-weight: 300;
  font-style: normal;
  display: block;
  font-size: 12px;
  color: rgb(51, 51, 51);
  margin-top: 3px;
  text-align: end;
}

.detail-product-bottom-item hr {
  margin: 20px 0;
}

.bought:hover {
  background-color: #ff0f1e;
}

/* number */

.iaIXXn {
  display: flex;
  flex-wrap: nowrap;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 3px;
}

.qty-decrease.qty-disable {
  border-radius: 3px 0px 0px 3px;
}

.qty-disable {
  pointer-events: none;
  background: rgb(248, 248, 248);
}

.iaIXXn .qty-decrease,
.iaIXXn .qty-increase {
  display: inline-block;
  border-right: 1px solid rgb(200, 200, 200);
  color: rgb(153, 153, 153);
  padding: 6px 12px;
  cursor: pointer;
}

.qty-input {
  border: none;
  background: transparent;
  width: 35px;
  text-align: center;
  font-size: 13px;
  appearance: none;
  margin: 0px;
}

.iaIXXn .qty-increase {
  border-right: none;
  border-left: 1px solid rgb(200, 200, 200);
}

.iaIXXn .qty-decrease,
.iaIXXn .qty-increase {
  display: inline-block;
  border-right: 1px solid rgb(200, 200, 200);
  color: rgb(153, 153, 153);
  padding: 6px 12px;
  cursor: pointer;
}

.number {
  margin-left: 25px;
}

/* footer */

.dZezzK {
  padding: 40px 0px;
  border-top: 1px solid rgb(247, 247, 247);
  border-bottom: 1px solid rgb(247, 247, 247);
  background-color: rgb(255, 255, 255);
}

.hotline {
  margin-bottom: 10px;
  color: rgb(196, 1, 26);
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
}

.small-text {
  display: block;
  margin-bottom: 11px;
  color: rgb(51, 51, 51);
  font-size: 12px;
  font-weight: normal;
}

.security {
  margin-bottom: 10px;
  color: rgb(51, 51, 51);
  font-size: 12px;
  font-weight: 400;
}

p {
  margin: 0px 0px 10px;
}

.block {
  width: 226px;
}

.dZezzK .block .icon {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 7px;
  vertical-align: middle;
}

.icon {
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: 0px 0px;
}

li {
  list-style: none;
}

/*Product-details*/

.shop-container {
  background-color: #eff0f3;
}

.shop-container .content-row {
  background-color: #fff;
  margin-top: 30px;
  margin-bottom: 30px;
}

.shop-container #product-sidebar {
  padding-top: 20px;
  border-left: 0;
}

.shop-container .product-main {
  padding-top: 20px;
}

.shop-container .product-img-slide {
  width: 100%;
  min-height: 400px;
  background-color: burlywood;
}

.product-img-slide img {
  width: 332.5px;
  height: 400px;
}

.header-container {
  background-color: #51c5dd;
}

.product-detail-listed a {
  color: #0a4f70;
  font-size: 14px;
  line-height: 2;
  padding: 1;
}

.product-detail-name span {
  font-size: 24px;
  color: #0570e6;
  text-transform: uppercase;
  line-height: 2;
  letter-spacing: 0.5px;
}

.product-detail-price span {
  font-size: 22px;
  color: #f04c63;
  font-weight: 700;
}

.product-detail-describe p {
  font-size: 14px;
  color: #0a0a0a;
}

.shop-container .container-amount-added {
  position: relative;
  background-color: chartreuse;
  z-index: 1000;
}

.shop-container .sreen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.shop-container .amount-input-display {
  position: absolute;
  width: 50px;
  left: 18px;
  text-align: center;
  z-index: 998;
}

.shop-container input.amount-input-display {
  padding: 5px;
}

.shop-container input,
input:focus,
input:active {
  outline: 0;
  outline-style: none;
  outline-width: 0;
}

.shop-container .amount-added-minus {
  position: absolute;
  z-index: 999;
  width: 23px;
  text-align: center;
  transition: 0.75s all;
}

.shop-container input.amount-added-minus {
  padding: 5px;
}

.shop-container .amount-added-plus {
  position: absolute;
  left: 50px;
  z-index: 999;
  width: 24px;
}

.shop-container input.amount-added-plus {
  padding: 5px;
}

.shop-container .container-button-addcart {
  display: flex;
}

.shop-container input.product-cart {
  width: 200px;
  padding: 7px 10px;
  border: 0 !important;
  background-color: #51c5dd;
  border-radius: 4px;
  transition: 0.25s all;
  color: #f9f9f9;
  font-size: 15.5px;
  font-weight: 400;
  letter-spacing: 0;
  text-transform: none;
}

.shop-container input.product-cart:hover {
  background-color: #75bfce;
  opacity: 1;
}

a.buy-now {
  margin: 0 0 0;
}

a.buy-now {
  display: inline-block;
  overflow: hidden;
  clear: both;
  padding: 15px 25px;
  margin: 8px 10px 0px 0px;
  border-radius: 4px;
  font-size: 18px;
  line-height: normal;
  text-transform: uppercase;
  color: #fff !important;
  text-align: center;
  background: #f04c63;
  background: -webkit-linear-gradient(top, #ee7988, #f04c63);
  text-decoration: none;
  border-bottom: 0 !important;
  max-width: 350px;
  width: 100%;
  transition: 0.5s all;
}

a.buy-now:hover {
  background: -webkit-linear-gradient(top, #f04c63, #ee7988);
}

a.buy-now strong {
  font-weight: 500;
}

a.buy-now span {
  display: block;
  font-size: 14px;
  color: #fff;
  max-width: 350px;
  text-transform: none;
  margin: 2px 0 0;
}

.thong-tin-shop {
  width: 450px;
  min-height: 135px;
  display: inline-block;
  background: #fffbf4;
  padding: 10px;
  border: 1px dashed #51c5dd;
  border-radius: 4px;
  margin-bottom: 10px;
}

.thong-tin-shop .left {
  display: inline-block;
  float: left;
  width: 20%;
}

.left {
  left: 0;
}

.thong-tin-shop .left img {
  width: 100%;
  border-radius: 99%;
  border: 2px solid white;
}

.thong-tin-shop .right {
  display: inline-block;
  width: 80%;
  float: left;
  padding-left: 10px;
}

.right {
  right: 0;
}

.thong-tin-shop .des {
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 500;
}

p {
  margin-top: 0;
}

.thong-tin-shop h3 {
  margin-bottom: 0;
  color: #0a0a0a;
  font-weight: 500;
  font-size: 1.25em;
}

.thong-tin-shop .mo-ta-shop {
  font-size: 12px;
  color: #464646;
  margin-bottom: 5px;
}

.thong-tin-shop .thong-tin-contact {
  display: flex;
  width: 100%;
  min-height: 20px;
}

.thong-tin-shop .thong-tin-contact .contact-center {
  width: 56%;
  min-height: 20px;
  margin: 0 auto;
}

.contact-center .leftt {
  display: inline-block;
  float: left;
  width: 50%;
  min-height: 100%;
}

.contact .rightt {
  display: inline-block;
  float: right;
  width: 50%;
  min-height: 100%;
}

.thong-tin-shop .chat-facebook {
  background-repeat: no-repeat;
  background-size: 18px;
  background-position-x: 10px;
  background-position-y: 30px;
  padding-left: 33px;
  outline: none;
}

.thong-tin-shop .chat-facebook:hover {
  box-shadow: 2px 2px 3px #c6c4c4;
}

.thong-tin-shop button.chat-facebook {
  margin: 0;
  background: white;
  border: 1px solid #0570e6;
  border-radius: 3px;
  font-size: 14px;
  text-transform: none;
  font-weight: 400;
  letter-spacing: 0;
  padding: 0px 15px;
  color: #0570e6;
  min-height: 27px;
  line-height: 10px;
}

.thong-tin-shop button.hotline {
  margin: 0;
  background: white;
  border: 1px solid #f04c63;
  border-radius: 3px;
  font-size: 14px;
  text-transform: none;
  font-weight: 400;
  letter-spacing: 0;
  padding: 0px 15px;
  color: #f04c63;
  min-height: 27px;
  line-height: 10px;
}

.thong-tin-shop .hotline:hover {
  box-shadow: 2px 2px 3px #c6c4c4;
}

.thong-tin-shop .hotline {
  background-image: url(../../../images/hotline.png);
  background-repeat: no-repeat;
  background-size: 18px;
  background-position-x: 10px;
  background-position-y: 30px;
  padding-left: 33px;
  outline: none;
}

.sidebar-background {
  width: 100%;
  display: flex;
  min-height: 435px;
}

.sidebar-background .sidebar-iconbox {
  width: 100%;
  display: flex-box;
  margin: 7px 0px;
  min-height: 100px;
}

.text-left {
  text-align: left;
}

.icon-box-left .icon-box-img {
  flex: 0 0 auto;
  margin-bottom: 0;
  max-width: 200px;
}

.icon-box-img img {
  padding-top: 0.2em;
  width: 100%;
  transition: opacity 1s;
  opacity: 1;
  max-width: 100%;
  height: auto;
  display: inline-block;
  vertical-align: middle;
}

.icon-box-left,
.icon-box-right {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

.icon-box-left .icon-box-img + .icon-box-text {
  padding-left: 1em;
}

.icon-box-left .icon-box-text {
  flex: 1 1 0%;
}

.icon-box-text strong {
  font-size: 15px;
  font-weight: 500;
  line-height: 0.25;
  letter-spacing: 1;
}

.social-icons {
  vertical-align: middle;
  font-size: 0.85em;
  color: #999;
  width: 450px;
  min-height: 50px;
}

.relative {
  position: relative !important;
}

.button {
  margin-bottom: 25px;
}

.circle {
  border-radius: 999px !important;
  object-fit: cover;
}

.button.icon.circle {
  padding-left: 0;
  padding-right: 0;
}

.is-outline {
  color: silver;
}

.button.is-outline {
  border-radius: 3px;
  font-weight: 400;
  border: 2px solid currentColor;
  background-color: transparent;
  line-height: 2.19em;
}

.button.tooltip {
  opacity: 1;
}

.button.icon {
  margin-left: 0.12em;
  margin-right: 0.12em;
  min-width: 2.5em;
  padding-left: 0.6em;
  padding-right: 0.6em;
}

.button i {
  vertical-align: middle;
  top: -1.5px;
  padding-left: 4px;
}

.button.facebook:hover {
  background-color: #446084;
  border-color: #446084;
  color: white;
}
.deal-price {
  color: rgb(120, 120, 120);
  font-size: 13px;
  margin-left: 8px;
}
.row-information-user {
  max-width: 1200px;
  display: flex;
  padding-top: 20px;
  margin: 0 auto;
}
.information-menu {
  width: 180px;
  height: 628px;
}
.information-detail {
  width: 993px;
  height: 628px;
  background-color: white;
  margin-left: 1.6875rem;
}
.information-detail-item {
  width: 993px;
  height: 628px;
  padding: 0 30px 20px;
}
/* .menu-item {
  padding: 15px 0;
  display: flex;
  align-items: center;
} */
/* .menu-item-img {
  width: 48px;
  height: 48px;
} */
.menu-item-name {
  padding: 0 0 0 15px;
  width: 130px;
  height: 50px;
  margin-top: 5px;
}
.icon {
  font-size: 25px;
  margin-right: 5px;
}
.icon1 {
  font-size: 25px;
  margin-right: 5px;
  background-color: rgb(68, 181, 255);
}
.icon2 {
  font-size: 25px;
  margin-right: 5px;
  background-color: rgb(238, 77, 45);
}
.icon3 {
  font-size: 20px;
  margin-right: 5px;
  background-color: rgb(255, 119, 97);
}
.icon i {
  background-color: yellow;
  border-radius: 990px;
}
.detail-item {
  padding: 22px 0;
}
.detail-profile {
  display: flex;
  padding: 30px 0 0;
}
.my-account-profile__left {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding-right: 50px;
}
.input-with-label {
  margin-bottom: 30px;
}
.my-account-page__submit {
  margin-bottom: 60px;
  padding-left: calc(20% + 20px);
}
.input-with-label__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -moz-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.input-with-label__label {
  width: 20%;
  text-align: right;
  color: rgba(85, 85, 85, 0.8);
  text-transform: capitalize;
  overflow: hidden;
}
.input-with-label__content {
  width: 80%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 1.25rem;
}
.input-with-label__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -moz-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.btn-solid-primary {
  color: #fff;
  background: #ee4d2d;
}
.btn--m {
  height: 40px;
  padding: 0 20px;
  min-width: 70px;
  max-width: 220px;
}
.input-with-label__label {
  width: 20%;
  text-align: right;
  color: rgba(85, 85, 85, 0.8);
  text-transform: capitalize;
  overflow: hidden;
}
.input-with-label__content,
.input-with-label__error,
.input-with-label__message {
  width: 80%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 1.25rem;
}
.input-with-label__label {
  width: 20%;
  text-align: right;
  color: rgba(85, 85, 85, 0.8);
  text-transform: capitalize;
  overflow: hidden;
}
._2AC_Jd {
  width: 100%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.shopee-dropdown {
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.my-account__input-text {
  font-size: 14px;
  color: #333;
}
.input-with-validator {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
  position: relative;
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.14);
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  box-shadow: inset 0 2px 0 0 rgba(0, 0, 0, 0.02);
  color: #222;
  height: 40px;
  padding: 10px;
  -webkit-transition: border-color 0.1s ease;
  transition: border-color 0.1s ease;
}
input[type="text" i] {
  padding: 1px 2px;
}
.input-with-validator input {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-size: 14px;
  background: transparent;
  outline: none;
  box-shadow: none;
  border: none;
}
.my-account-profile__gender .stardust-radio-group {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}
.stardust-radio {
  font-family: -apple-system, Helvetica Neue, Helvetica, Roboto, Droid Sans,
    Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.87);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  cursor: default;
  padding: 16px 12px;
}
.stardust-radio {
  font-family: -apple-system, Helvetica Neue, Helvetica, Roboto, Droid Sans,
    Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.87);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  cursor: default;
  padding: 16px 12px;
}
.stardust-radio-button__outer-circle {
  width: 18px;
  height: 18px;
  border-radius: 100%;
  border: 2px solid rgba(0, 0, 0, 0.26);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.stardust-radio {
  font-family: -apple-system, Helvetica Neue, Helvetica, Roboto, Droid Sans,
    Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.87);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  cursor: default;
  padding: 16px 12px;
}
.stardust-radio__content {
  cursor: pointer;
}
.stardust-radio-button {
  margin-right: 8px;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  position: relative;
  width: 18px;
  height: 18px;
}
._2AC_Jd .shopee-dropdown {
  width: 32%;
}
._2AC_Jd .shopee-dropdown__entry {
  width: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.shopee-dropdown__entry span {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.shopee-dropdown__entry .shopee-svg-icon {
  margin-left: 0.3125rem;
  font-size: 0.75rem;
}
.shopee-svg-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
  position: relative;
}
._2AC_Jd,
._2AC_Jd .shopee-dropdown {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}
.shopee-dropdown {
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.shopee-dropdown--has-selected {
  background-color: #fff;
  position: relative;
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.14);
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  box-shadow: inset 0 2px 0 0 rgba(0, 0, 0, 0.02);
  color: #222;
  height: 40px;
  padding: 10px;
  -webkit-transition: border-color 0.1s ease;
  transition: border-color 0.1s ease;
}
.my-account-profile__right {
  width: 17.5rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden;
  border-left: 1px solid #efefef;
}
.avatar-uploader {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.avatar-uploader__avatar {
  height: 100px;
  width: 100px;
  margin: 20px 0;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.avatar-uploader__text-container {
  margin-top: 12px;
  display: block;
}
.avatar-uploader__text {
  color: #999;
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.btn-light {
  background: #fff;
  color: #555;
  border: 1px solid rgba(0, 0, 0, 0.09);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.03);
}
.btn--m {
  height: 40px;
  padding: 0 20px;
  min-width: 70px;
  max-width: 220px;
}
.btn--inline {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.btn {
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-size: 14px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.09);
  border-radius: 2px;
  border: 0;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-transform: capitalize;
  outline: 0;
  cursor: pointer;
}
.tab1 {
  width: 100%;
  display: flex;
  background-color: white;
}
.btn {
  width: 165.5px;
  height: 53px;
  padding: 1rem 0;
}
.btn.active {
  color: #ee4d2d;
  border-bottom: 2px solid #ee4d2d;
}
.section.active {
  display: block;
}
.section {
  display: none;
}
.search {
  display: flex;
  background: #eaeaea;
  padding: 0.75rem 0;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
  border-radius: 2px;
  color: #555;
  margin-top: 0.75rem;
}
.search input {
  width: 944px;
  line-height: 1rem;
  font-size: 0.875rem;
  border: none;
  outline: none;
  background-color: inherit;
}
.search-icon {
  width: 19px;
  height: 19px;
  margin: 0 15px;
}

.information-detail1 {
  width: 993px;
  height: 628px;
  background-color: #f8f6f7;
  margin-left: 1.6875rem;
}
.section-contain {
  margin-top: 0.75rem;
  width: 993px;
  background-color: white;
}
.near-footer {
  width: 100%;
  height: 50px;
  background-color: #f8f6f7;
}
.table {
  display: flex;
  width: 100%;
  color: rgb(120, 120, 120);
  font-size: 15px;
  border-bottom: 1px solid #efefef;
  font-size: 15px;
}
.table-mssp {
  min-width: 135px;
  padding: 20px 15px;
}
.table-daybuy {
  min-width: 136px;
  padding: 20px 15px;
}
.table-name {
  padding: 20px 15px;
  min-width: 392px;
}
.table-price {
  padding: 20px 15px;
  min-width: 136px;
}
.table-status {
  padding: 20px 15px;
  min-width: 172px;
}
.table1 {
  display: flex;
  width: 100%;
  color: rgb(51, 51, 51);
  font-size: 15px;
  border-bottom: 1px solid #efefef;
  font-size: 15px;
}
.table-mssp1 {
  min-width: 135px;
  padding: 20px 15px;
}
.table-daybuy1 {
  min-width: 136px;
  padding: 20px 15px;
}
.table-name1 {
  padding: 20px 15px;
  min-width: 392px;
}
.table-price1 {
  padding: 20px 15px;
  min-width: 136px;
}
.table-status1 {
  padding: 20px 15px;
  min-width: 172px;
}
.read {
  width: 993px;
  height: 41px;
}
.read-item {
  text-align: end;
  padding: 10px 20px;
  border-bottom: 1px solid #efefef;
}
.news {
  width: 993px;
  height: 120px;
  display: flex;
  padding: 20px;
  border-right: 1px solid #efefef;
  border-left: 1px solid #efefef;
}
.news:hover {
  background-color: #f8f8f8;
}
.news-image {
  width: 80px;
  height: 80px;
  margin-right: 20px;
}
.news-information {
  width: 748.3px;
  height: 80px;
}
.news-button {
  width: 84.7px;
  height: 80px;
  color: rgba(0, 0, 0, 0.8);
  margin-left: 20px;
}
.news-button button {
  border: 1px solid rgba(0, 0, 0, 0.09);
  padding: 10px 5px;
}
.time-item {
  color: rgba(0, 0, 0, 0.54);
  font-size: 0.875rem;
  margin-bottom: 0.3125rem;
}
.voucher {
  padding: 20px 0;
  width: 933px;
  display: flex;
  align-items: center;
}
.voucher-item {
  width: 50%;
  color: #000;
  font-size: 1.25rem;
  font-weight: 500;
}
.voucher-more {
  color: rgba(0, 0, 0, 0.54);
  width: 50%;
  text-align: end;
}
.input-voucher {
  background: rgba(0, 0, 0, 0.03);
  padding: 1.75rem 2.75rem;
  display: flex;
  align-items: center;
}
.voucher-input {
  margin: 0 auto;
  width: 414px;
  height: 44px;
  margin: 0 0.5rem 0 0.875rem;
}
.voucher-input input {
  width: 386px;
  height: 44px;
  padding: 0.8125rem;
}
.voucher-button {
  background: rgba(0, 0, 0, 0.1);
  cursor: default;
}
.voucher-button button {
  background-color: #ee4d2d;
  margin: 0 auto;
  width: 6.25rem;
  height: 2.75rem;
  text-align: center;
  border-radius: 0.125rem;
  outline: none;
  color: #fff;
  border: 0;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.09);
}
.input-voucher-item {
  width: 85.39;
  height: 19px;
  font-size: 1rem;
  margin-left: 15%;
}
.voucher-free {
  padding: 20px 0;
  color: #ee4d2d;
  border-bottom: 1px solid #efefef;
}
.free {
  width: 933px;
  height: 500px;
  display: flex;
  margin-top: 15px;
}
.free-left {
  width: 50%;
  margin-right: 4%;
}
.free-right {
  width: 50%;
}
.free-item {
  width: 450px;
  height: 118px;
  display: flex;
  margin-bottom: 10px;
  box-shadow: #c6c4c4 0px 3px 5px;
}
.free-item-left {
  width: 118px;
  height: 118px;
  background-color: #00bfa3;
  display: flex;
}
.free-item-center {
  width: 221.28;
  padding: 1.25rem 0.5rem;
}
.item-dot {
  width: 4px;
  height: 111px;
  margin-top: 3px;
}
.dot-icon {
  color: white;
  font-size: 8px;
  margin-bottom: 4px;
}
.free-ship {
  width: 110px;
  margin-left: 5px;
  color: white;
  font-size: 1rem;
  text-align: center;
  margin-top: 35%;
}
.ship {
  background: #ee4d2d;
  color: white;
  font-size: 0.75rem;
  margin-right: 5px;
  margin-bottom: 4px;
}
.ship-item {
  width: 134.61px;
  padding: 0.125rem 0;
  text-align: center;
  font-size: 0.75rem;
  line-height: 0.75rem;
  -webkit-box-flex: 1;
  border: solid 1px #ee4d2d;
  color: #ee4d2d;
  margin-bottom: 4px;
}
.ship-time {
  color: #ee4d2d;
  font-size: 0.75rem;
}
.use {
  margin-top: 1.35rem;
  font-size: 14px;
  color: #ee4d2d;
}
.condition {
  margin-top: 40px;
  font-size: 14px;
  color: #508be3;
}
.form {
  font-size: 18px;
}
.full_hd {
  background: #6ba90d;
  position: relative;
  z-index: 9;
}
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.wrapper {
  padding: 0 15px;
}
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}
.mg-10 {
  margin-left: -10px;
  margin-right: -10px;
}
.pd-10 {
  padding: 0px 10px;
  position: relative;
  float: left;
}
.col-md-9 {
  width: 75%;
}
.slogan_hd {
  font-size: 13px;
  font-family: arial;
  line-height: 44px;
  color: #fff;
  margin-right: 20px;
  display: inline-block;
  float: left;
}
.email_hd,
.box_diachi,
.hotline_hd,
.slogan_hd {
  font-size: 13px;
  font-family: arial;
  line-height: 44px;
  color: #fff;
  margin-right: 20px;
  display: inline-block;
  float: left;
}
.col-md-3 {
  width: 25%;
  height: 45px;
}
.clear {
  clear: both;
}
a {
  text-decoration: none !important;
  color: #000;
}
.col-sm-8 {
  width: 66.66666667%;
}
.header {
  background: url(upload/hinhanh/viettittrrgrr01-1466.png) no-repeat;
  background-size: cover;
}
.header {
  margin: 0px auto;
  position: relative;
  z-index: 99999;
}
.logo {
  display: inline-block;
  float: left;
  margin: 0px auto;
}
/* .banner {
  text-align: center;
  position: relative;
} */
.logo,
section#header .banner {
  text-align: center;
  position: relative;
}
.menu_rp a {
  color: #fff !important;
  padding: 0 15px;
  display: inline-block;
}
.bg_menu {
  display: none !important;
}
.bg_menu {
  float: left;
  width: 100%;
}
.wrapper {
  padding: 0 15px;
  width: 1200px;
}
.menu_t {
  margin: 0 auto;
  width: 100%;
  text-align: center;
}
.jqueryslidemenu ul {
  position: relative;
  align-items: center;
  display: flex;
  justify-content: center;
}
.menu_t li {
  text-transform: none;
  text-align: center;
  font-weight: normal;
  font-size: 20px;
  padding: 29px 0;
  position: relative;
}
.menu_t a {
  border-left: 0px !important;
}
/* .menu-item {
  display: flex;
} */
.item {
  display: inline-block;
  margin-right: 20px;
  font-size: 20px;
  padding-top: 30px;
}
.a-item:hover {
  background-color: rgb(129, 25, 25);
  padding: 5px;
  color: white;
}
